footer{
  background-color:#fafafa;
  padding: 10px 0 10px 0;
}

.find-me-title{
  text-align: left;
  color: #333;
  letter-spacing: 0.03em;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  position: relative;
}

.contact h6{
  color: #333;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  display: inline;
  font-weight: 500;
}

.social-media, .email {
  margin-top: 10px;
  padding-right: 20px;
  text-decoration: none;
}

.contact h6:hover{
  text-decoration: underline;
  line-height: 20px;
}


.signature{
  color: #444;
  padding: 10px 0;
  font-weight: 100;
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;}

.signature i{
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.signature span{
  margin: 0 20px 0 0;
  font-weight: 400;
}
.copyright{
  display: inline-block;
}

.social{
  display: inline-block;
}
