body{
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
-moz-font-feature-settings: "liga" on;
}

h4{
  font-weight: 400;
  letter-spacing: normal;
}

a{
  color: #222;
  text-decoration: none
}

a:hover{
  text-decoration: underline;
  color: #222;
}

.row{
  margin-bottom: 20px;
}

.columns{
  margin-bottom: 20px;
}

/*.modo{
  background-color: #f5d3cb;
}

.boreal{
  background-color: #C695FF;
}*/

.navigation{
  flex-direction: row;
}

@media (min-width:1000px) {
  .navigation{
  padding-bottom: 50px;
  }

}

.navigation a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;

}

.navigation a:hover{
  text-decoration: underline;
}

.intro{
  padding-top: 35px;
  padding-bottom: 10px;
  background-repeat: repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
}

@media (min-width: 750px) {
.intro{
  padding-top: 35px;
  padding-bottom: 50px;
  }
}

.intro h1{
  text-align: left;
  color: #333;
  margin: 0;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  max-width: 1020px;
}

.skills h5{
  margin: 0;
  color: #333;
}

@media (min-width: 750px){
.skills h5{
  display: inline;
  padding-right: 10px;
}
}

.section{
  margin-top: 35px;
  margin-bottom: 35px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #222;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
